.calenderWrapper {
  border: none;
}

.selectedDay,
.unselectedDay {
  padding: 3px 1px 0 0;
  width: 36px;
  height: 36px;
}

.selectedDay {
  background-color: #67a68a;
  border-radius: 50%;
}

.selectedDay:hover {
  border-radius: 50%;
  background-color: #67a68a;
}
